
a[data-v-051ea7d4] {
  color: #b542b9;
}
.fade[data-v-051ea7d4] {
  color: #9803a5;
  /* transition: color 1s; */
}
.fade[data-v-051ea7d4]:hover {
  color: #06a71b;
}

#edit[data-v-1e7ebfa2] {
  color: #000000;
}
#edit.upclose[data-v-1e7ebfa2] {
  color: #c00303;
}
