

@import url('https://fonts.googleapis.com/css2?family=Buenard&family=Montserrat:wght@100&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');
a[data-v-1580acae] {
  color: #b542b9;
}
button[data-v-1580acae] {
  width: 150px;
}
.fade[data-v-1580acae] {
  color: #9803a5;
  /* transition: color 1s; */
}
.fade[data-v-1580acae]:hover {
  color: #a78e06;
}
/* http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}
/* Now, our styles */
#room {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #f2e6e5;
    /* margin: 30px; */
    border: 5px;
    border-radius: 10px;
    border-color: red;
    /* position: absolute; */
    display: block;
    /* background-color: transparent;   */
    background-color: black; 
 }
#room.darkwall {
    background-color: transparent;
}
#room.lightwall {
    background-color: transparent;  
    color: #1f1d1d;
}
#room.whitewall{
  background-color: white;  
  color: #1f1d1d;
  border-radius: 0px;
}
#room h2{
  font-size: 1.5em;
  font-weight: bold;

}
#room .headline{
  font-size: 4em;
}
#room .center {
  margin: 30px;
  padding-left: 25px;
  }
#room .postertitle  {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
#room .spacer {
    /* margin-left: 25px;
    margin-right: 25px; */
    margin: 25px;
    }
#room .squareoff {
    text-align: justify;
    }
.column {
      float: left;
      width: 50%;
      padding: 10px;
    }
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    }
/* JP */
/* adding margin only to the side */
#room .spacer-side {
    margin-left: 25px;
    margin-right: 25px;
    }
.lgquote{
      font-family: 'Roboto', sans-serif;
      font-size: 5rem;
      font-weight: 900;
      color: #8E9097;
    }
/*font styles*/
.oblique {
      font-style:italic;
    }
.quote {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      color: #DCDCDC;
    }
.keyPoint {
      color: #78cfa8;
      font-weight: bold;
    }
.largerText{
      font-size: 3em;
    }
/*sizing image*/
.full {
      padding: 0;
      margin:0;
      width: 100%;
      height: auto;
    }
img.centerImg {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
/* label vue-app */
.labelTitle {
      font-size:1.2em;
      font-weight: bold;
      line-height: 1.6;
    }
.labelLgTitle{
      font-size:6em;
      font-weight: bold;
    }
.labelLgBody{
      font-size:5em;
    }
/* History Gallery */
#room h2.history_title {
  text-align: left;
  font-size: 2rem;
  float: left;
  padding-bottom: 10px;
}
.history_subtitle{
  background-color: #E3E3E3;
  padding: 0 6px;
  display: inline;
  float: right;
}
.history_spacer-side{
  margin: 20px 60px;
}
.history_year{
  font-size: 2rem;
  font-weight: 100;
  opacity: 0.8;
  float: right;
  /* text-align: right;
  position: absolute;
  top: 30px;
  left:465px; */
  font-family: 'Montserrat', sans-serif;
}
.history_hr{
  clear: both;
  border: 2px solid #E3E3E3;
  background-color: #E3E3E3;
}
.history_hr2{

  border: 0;
  border-bottom: 3px dotted #E3E3E3;
  padding-top:9px;
}
#room.ivorywall{
  background: #F9EFE4;
  color:#42487C;
  font-family: 'Buenard', serif;
  border-radius: 0;
}
/* title vue-app */
.titleStyle {
  font-size: 2em;
  font-weight: bold;
  padding: 5px;
  text-shadow: 1px 0 2px black, 1px 0 4px white, 0 1px 2px black, 0 1px 4px white, -1px 0 2px black, -1px 0 4px white, 0 -1px  2px black, 0 -1px  4px white;
}
.alink {
  color: #fdfd96;
  text-decoration: underline;
}
.alinklink {
  color:#fdfd96;
}
.alink:hover {
  color: white;
  background:#78cfa8;
}
a[data-v-fd77e8fe] {
  color: #b542b9;
}
button[data-v-fd77e8fe] {
  width: 150px;
}
.fade[data-v-fd77e8fe] {
  color: #9803a5;
  /* transition: color 1s; */
}
.fade[data-v-fd77e8fe]:hover {
  color: #06a71b;
}

#edit[data-v-6a6efdc8] {
  color: #bea7d1;
}
#edit.upclose[data-v-6a6efdc8] {
  color: #cc0a0a;
}

button[data-v-f3c1f56a] {
    width: 120px;
    color: -internal-light-dark(black, white);
    text-indent: 0px;
    text-align: center;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    margin: 0em;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-radius: 2px;
}
.fakeButton[data-v-f3c1f56a] {
  color: #9803a5;
  background: #a78e06;
  /* transition: color 1s; */
}
.fakeButton[data-v-f3c1f56a]:hover {
  color: #a78e06;
  background: #9803a5;
}
