
#top[data-v-e5a378b8] {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #50312c;
  margin-top: 30px;
  border: 5;
  border-radius: 10px;
  border-color: red;
  width: 400px; height: 300px;
  position: absolute;

  display: block;
  background-color: white;
}
*[data-v-e5a378b8] {
    box-sizing: content-box;
}
img[data-v-e5a378b8] {
    max-width: none;
        display: inline;
}
