/* Now, our styles */

#room {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #f2e6e5;
    margin: 30px;
    border: 5px;
    border-radius: 10px;
    border-color: red;
    position: absolute;
    display: block;
    background-color: black;
  }

  #room .spacer {
    margin-left: 25px;
    margin-right: 25px;
    }

  #room .squareoff {
    text-align: justify;
    }
  