/* Now, our styles */

#room {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #f2e6e5;
    width: 100%
    margin: 30px;
    border: 10px;
    border-radius: 10px;
    border-color: red;
    position: absolute;
    display: block;
    background-color: transparent;
  }


#room h2{
  font-size: 1.5em;
  font-weight: bold;

}

#room .headline{
  font-size: 4em;
}

#room  .center {
  margin: 30px;
  width:50%
  padding-left: 25px;
  }

#room .postertitle  {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

  #room .spacer {
    margin-left: 25px;
    margin-right: 25px;
    }

  #room .squareoff {
    text-align: justify;
    }
  